
<h3>Oldest known film</h3>

        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LowU9vKZzJs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h4>Passage de Venus, 1874, Pierre Jules César Janssen </h4>
        <p> Argued that this was likely a stop motion, but that is still film.</p>
